$blue: #0055A4;
$red: #EC1C24;
$green: #00A076;
$frontRunner: #9622B2;

mat-chip-list {
  float: left;
  margin-right: 1rem;
}

mat-chip.blue {
  background-color: $blue;
}
mat-icon {
  vertical-align: middle;
}

.departure-info {
  padding: 0.3rem;
}
